.contact_title{
    width: 100%;
    height: 150px;
    font-size: 26px;
    color: #462b13;
    text-align: center;
    line-height: 150px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
}

.contact_container{
    display: flex;
}
.contact_area{
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}
.process_container .process_item{
    height: 80px;
    width: 300px;
    border-radius: 10px;
    background-color: lavenderblush;
}
.process_icon{
    width: 100px;
    height: 80px;
    float: left;
}
.process_icon img{
    display: block;
    line-height: 80px;
    width: 50%;
    height: 50%;
}
.process_description{
    font-size: 18px;
    line-height: 80px;
}




.contact_picture{
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: burlywood;
}
.contact_container .contact_picture img{
    width: 100%;
    height: 100%;

}